---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Profile_zosia from "../assets/zosia_profile.jpg";
import Profile_maude from "../assets/maude_profile.jpg";
import Profile_keira from "../assets/keira_profile.jpg";
import Profile_charlie_wilcoxon from "../assets/Charlie_Wilcoxon_profile.jpg";
import Profile_charlie_miller from "../assets/Charlie_Miller_profile.jpg";
import Profile_bridget from "../assets/Bridget_Noonan_profile.jpg";
import Profile_gianna from "../assets/Gianna_DeBono_profile.jpg";
import Signiture from "../assets/Zosia_and_Charlie_signiture.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About The Arena"
	description="Lorem ipsum dolor sit amet"
	author=""
	pubDate={new Date("March 22 2026")}
	heroImage={AboutHeroImage}
>
	<p>
		<i>
			It is not the critic who counts; not the man who points out how the
			strong man stumbles or where the doer of deeds could have done them
			better. The credit belongs to the man who is actually in the arena,
			whose face is marred by dust and sweat and blood; who strives
			valiantly; who errs, and comes short again and again, because there
			is no effort without error and shortcoming; but who does actually
			strive to do the deeds; who knows the great enthusiasms, the great
			devotions; who spends himself in a worthy cause; who at the best
			knows in the end the triumph of high achievement, and who at the
			worst, if he fails, at least fails while daring greatly, so that his
			place shall never be with those cold and timid souls who know
			neither victory nor defeat.
		</i>
	</p>
	<p style="text-align: center;">
		Theodore Roosevelt, “Citizenship in a Republic,” 1910
	</p>
	<p>
		When Teddy Roosevelt delivered these words at the Sorbonne, he was
		encouraging the intellectual man to undertake the rigorous physical
		activity for which the president was so famous. But these words ring
		today in the ears of those longing for a call to undertake the rigorous
		mental activity they are missing in a culture full of intellectual
		timidity and resignation. Some college students want to enter a
		different arena from the one primarily presented by Roosevelt, to be
		“marred by the dust and sweat and blood” of the intellectual work
		required to ask and answer truly difficult questions. Among this group
		are the founding contributors of this journal. We have made this
		platform to enter the arenas of conversation surrounding the important
		issues that interest us. In doing so, we have set foot in multiple
		arenas and made one more. Entering the former, the many unending
		conversations to which we may add a few words, will provide the
		intellectual formation that modern university no longer guarantees. But
		there is something to a direct clashing of pens, so we have created the
		Journal’s Arena, one entered by contributors each issue to spar over a
		subject controversial between them. We hope through this to strengthen
		our tolerance for respectful but substantive disagreement, a tolerance
		all but stunted by the modern university. Finally, we hope, dear reader,
		that our effort to form ourselves as thinkers yields thoughtful articles
		for your thoughtful enjoyment.
	</p>
	<div style="text-align: center;">
		<p><i>S i n c e r e l y ,</i></p>
		<img src={Signiture.src} alt="Founders' Signiture" />
		<p>Charles Wilcoxon and Zosia Collins, Co-Editors-in-Chief</p>
	</div>
	<hr style="border: none; border-top: 1px solid #d1d5db; margin: 24px 0;" />
	<h3 style="text-align: center;">Our contributors:</h3>
	<div class="card">
		<img src={Profile_zosia.src} alt="Profile Photo" class="card-image" />
		<div class="card-text">
			<p>
				<b>Zosia Collins, Co-Editor-in-Chief</b><br />Zosia is a first
				year at UVA, where she is pursuing a degree in the
				extraordinarily practical field of Classics. Besides editing The
				Arena, she is an intern at the Institute for Family Studies, a
				fellow at the Blue Ridge Center, and highly involved with
				Catholic Hoos. Although a very busy person, she will make time
				for anyone who wishes to discuss flute music, good literature,
				writing novels, or ancient philosophy.
			</p>
		</div>
		<img
			src={Profile_charlie_wilcoxon.src}
			alt="Profile Photo"
			class="card-image"
		/>
		<div class="card-text">
			<p>
				<b>Charles Wilcoxon, Co-Editor-in-Chief</b><br />Coming from
				Columbus, Ohio, Charles is a first-year student at UVA studying
				history. He is involved in the altar service and parish
				maintenance ministries with Catholic Hoos, and, alongside Mr.
				Miller and Miss DeBono, he is a founder of CREDO Apologetics. Be
				careful getting into conversations with him about history,
				philosophy, literature, film, or economics —you might be there
				for a while. Especially dangerous, however, is picking his brain
				on Star Wars and Lord of the Rings.
			</p>
		</div>
		<img src={Profile_maude.src} alt="Profile Photo" class="card-image" />
		<div class="card-text">
			<p>
				<b>Pamella Parker, Editor and Contributor</b><br />Pamella is a
				first year Chemistry major at UVA. You may know her better by
				her middle name, Maude. She still doesn’t know what her parents
				were thinking. She’s known for her sharp sense of humor,
				practical mindset, and ability to keep things both thoughtful
				and down-to-earth. She’ll talk your ear off about anything, and
				whatever her opinion may be, it will certainly be a strong one!
			</p>
		</div>
		<img
			src={Profile_charlie_miller.src}
			alt="Profile Photo"
			class="card-image"
		/>
		<div class="card-text">
			<p>
				<b>Charles Miller, Editor</b><br />Charlie is a first-year at
				UVA from Richmond VA planning on majoring in Economics and
				Finance. He is involved in the altar service and men's
				ministries with Catholic Hoos, and is the founder of the CREDO
				Apologetics club. He enjoys playing table tennis, spikeball,
				chess, poker, basketball, pool and guitar. He enjoys discussing
				philosophy and theology particularly in the realms of Catholic
				apologetics.
			</p>
		</div>
		<img src={Profile_keira.src} alt="Profile Photo" class="card-image" />
		<div class="card-text">
			<p>
				<b>Keira Thomas, Editor</b><br />Originally from Front Royal VA,
				Keira is a first year at UVA, majoring in History and English.
				An aspiring teacher, Keira loves to discuss literature and
				humanities as a way to engage with the good, the true, and the
				beautiful. At UVA, she is involved with Catholic Hoos and
				handles events coordination for Hoos for Life, in addition to
				contributing to the Arena.
			</p>
		</div>
		<img src={Profile_bridget.src} alt="Profile Photo" class="card-image" />
		<div class="card-text">
			<p>
				<b>Bridget Noonan, Editor</b><br />Bridget is a first-year at
				the University of Virginia planning to study Politics and
				Economics. She is currently involved at UVA as the Finance Chair
				for A Moment of Magic, as the Website Manager for Catholic Hoos,
				and as an active member of Undergraduate Constitutional Law and
				Hoos For Life. Bridget enjoys deep conversations about subjects
				that pique her interest and particularly always loves to discuss
				political theory and philosophy or literature and film reviews.
			</p>
		</div>
		<img src={Profile_gianna.src} alt="Profile Photo" class="card-image" />
		<div class="card-text">
			<p>
				<b>Gianna DeBono, Editor</b><br />Gianna is a first-year from
				Greenwich, CT, interested in majoring in Political Philosophy,
				Policy and Law. She has a big love for music and is a member of
				the Virginia Belles, a Capella group here on grounds. She’s also
				a fan of philosophy and politics and is in the Jefferson
				Literary and Debate Society. She plays intramural soccer in her
				free time and is involved with Catholic Hoos on their service
				council and the CREDO Apologetics group.
			</p>
		</div>
	</div>
	<style>
		.card {
			display: grid;
			grid-template-columns: 1fr; /* single column on mobile */
			gap: 0.6rem;
			align-items: center;
		}
		.card-image {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: cover;
			justify-self: center;
		}
		@media (min-width: 640px) {
			.card {
				grid-template-columns: 250px 1fr; /* fixed image width + fluid text */
			}
		}
	</style>
</Layout>
